<% include partials/header.ejs %>

<h1 id="err-page">Oops! There was an error loading your request. Something's probably broken. Email 
<a href="mailto:tobyweed@gmail.com">tobyweed@gmail.com</a> with a report of what happened to help fix!</h1>

<% include partials/footer.ejs %>