<% include ../partials/header.ejs %>

<script type="text/javascript">bkLib.onDomLoaded(nicEditors.allTextAreas);</script>

<form class="text-upload-form" action="/statement" method="POST">
  <textarea class="info-text-editor" name="text"></textarea>
  <button type="submit">Submit</button>
</form>

<div id="statement-text">
    <%= statement.text %>
</div>



<% include ../partials/footer.ejs %>