@media only screen and (max-width: 768px) {
    
    .gallery{
        margin: 0;
    }
    
    #header {
        margin-bottom: 0;
    }
    
    #title{
        display: inline-block;
    }
    
    #nav-button {
        display: inline-block;
        height: 10px;
    }
    
    .ion-android-menu {
        padding-top:10px;
        margin-top:10px;
    }
    
    #nav-list {
        display: block;
    }
    
    .nav-item {
        display: none;
    }
    
    .nav-item a{
        padding: 0;
    }
    
    
    
    .display-text {
        width: auto;
    }
    
    
    .contact-container {
        width: auto;
    }
    
    .mail-form {
        box-sizing: border-box;
    }
    
    
    /*About*/
    #about-page {
        display: block;
        width: 100%;
    }
    
    #about-leftside {
        display: block;
        width: 100%;
        padding: 0;
        margin-bottom: 10px;
        border: 0;
        text-align: center;
    }
    
    #about-rightside {
        display: block;
        width: 100%;
    }
    
    
    #footer {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }
    
}